*{
    padding: 0;
    margin: 0;
}
.jumbotron{
    background-color: #a5d8ff;
    text-align: center;
    margin-top: 20px;
}
.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
footer{
    background: #36393b;
    color: #fff ;
    padding: 30px;
    margin-bottom: 0;
    margin-top: 10px;
}
.tab-content{
    padding-top: 10px;
}
.caracteristica{
    padding: 20px;
    text-align: justify;
}