$black: #a5d8ff;
$yellow: #fff;
$red: #e60219;
@mixin margenes($top, $bottom){
	margin-bottom: $bottom;
	margin-top: $top;
}
*{
    padding: 0;
    margin: 0;
}
.jumbotron{
    background-color: $black;
    text-align: center;
    @include margenes(50px, 30px);
}
.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
footer{
    background: $black;
    color: #000 ;
    padding: 30px;
    margin-bottom: 0;
    margin-top: 10px;
}
.tab-content{
    padding-top: 10px;
}
.caracteristica{
    padding: 20px;
    text-align: justify;
}